body {
    font-family: 'Montserrat', sans-serif !important;
    background-color:#1a1a1d;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: -72% bottom;
   /* background-image: url(../img/bottom-right-bg.png);*/
	background-position: -72% bottom;
    background-repeat: no-repeat;
}
@media (min-width: 1200px) {
	.container{
		max-width:1170px !important;
}
}
a{
	text-decoration:none !important;
}
.navbar-expand-xl .navbar-nav .dropdown-menu{
	background: #8c8297 !important;
}
.clr_green{
	background-color:#1bd75e;
}
.clr_green:hover{
	background-color:#17b14e;
}
.clr_yellow{
	background-color:#ffb400;
}
.clr_yellow:hover{
    background-color: #e0a516;
}
.clr_red{
	background-color:#f92552;
}
.clr_voilet{
	background-color:#6a3bc0;
}
.chse_btn label,.chse_btn a{
    color: #fff;
    border-radius: 50px;
    float: right;
    margin: 20px;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
     }



/*.chse_btn input[type="file"] {
    display: none;
}*/
.chse_btn{
	position: absolute;
    right: 15px;
    z-index: 9999;
}
	
/*-----------------my -----------------*/
.bg_a,.bg_b,.bg_c{
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	
}
.bg_a{
   background-image: url(../img/bg.jpg);
}
.bg_b{
   background-image: url(../img/slide2.png);
}
.bg_c{
   background-image: url(../img/bg.jpg);
}
.cstm_nav{
	position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*
.cstm_caption{
	text-align:left !important;
	left:0;
	right:0;
}*/
.nav_rw{
	padding: 5px 0px;
}
.lenonvo_announce {
    padding-bottom: 60px;
}
.lenonvo_announce h1 {
    font-size: 30px;
    font-weight: 500;
}

.lenonvo_announce h1, .lenonvo_announce h2 {
    margin-bottom: 30px;
    color: #fff;
}
.lenonvo_announce h2 {
    font-size: 18px;
    font-weight: 200;
}
.lenonvo_announce a {
    font-size: 12px;
    color: #fff;
    background:#bc0000;
    margin-top: 20px;
    font-weight: 500;
    height: 45px;
    width: 177px;
    display: block;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    border: 1px solid #bc0000;
}
.lenonvo_announce a:hover{
	background: transparent;
    border-color: #bc0000;
    color:#bc0000;
}
.latest_news .col-lg-4 {
	padding: 0 5px 10px 5px;
}
.tranding_news{
	background: #403351;
    border-radius: 5px;
	margin-bottom: 15px;
    padding-bottom: 20px;
}
.tranding_news .nav-tabs{
	border-bottom: 1px solid #4b3b60;
    padding: 2px 15px;
	display: flex;
    justify-content: space-between;
}
.tranding_news .nav-tabs .nav-link.active{
	color:#fff;
    
}
.tranding_news .nav-tabs .nav-link{
	font-weight: 700;
	background-color: transparent;
    border-color: transparent;
    color: #8c8297;
	font-size:12px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
	background-color: transparent;
    border-color: transparent;
}
.txt_tranding_vdo a{
	color: #fff;
    padding: 6px 10px;
    font-size: 11px;
    text-decoration: none;
   
}
.cls_green :hover{
	background: #079a3b;
}
.txt_tranding_vdo h2{
	font-size: 14px;
    color: #fff;
    margin: 15px 0
}
.inner_main_block{
	display:flex;
}
.inner_main_block{
    
	margin-right: 20px;
    max-height: 170px;
    border-radius: 5px;
    margin-bottom: 15px;
    /* height: 140px; */
    padding: 40px 15px;
    margin: 0 auto;
    border-bottom: 1px solid #4b3b60
 
}
.inner_main_block:last-child{
	border-bottom:0;
}
.inner_main_block .video_block{
	margin-right: 15px;
}
.post time{
	display: block;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 20px;
}
/*-------------------------------------*/


p.about {
    color: #ffffff;
}
.cstm_navbar {
    background: #fcfcfc;
    padding: 10px 10px !important;
    background-color: #fcfcfc;
    background-image: linear-gradient(#fcfcfc, #bdbdbd);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #252525;
}

.cstm_cls_nav li {
    margin-right: 24px;
}
.cstm_cls_nav ul> li:last-child{
	margin: 0;
}

.cstm_cls_nav a,.cstm_nav .navbar-right a{
    color: #fff;
  	font-size:12px;
}

.cstm_cls_nav a:hover,.cstm_nav .navbar-right  a:hover{
    color: #f00;
}
.inner_logo{
	padding: 250px 0 120px 0;
}

.social-icon {
    padding-right: 35px;
}

.social-icon i {
    padding: 0px 10px;
    color: #000;
    font-size: 20px;
}

.social-icon i:hover {
    color: #73bc41;
}

.main-section {
    border: 8px solid #252525;
    border-radius: 10px;
    background: #252525;
    box-shadow: 0 0 18px 0px #000;
}

.cst_carousel h1 {
    font-size: 60px;
    line-height: 36px;
    font-weight: 800;
}

.cst_carousel h1 span {
    font-size: 36px;
    font-weight: 300;
}

.cst_carousel {
    bottom: 30px !important;
    left: 35px !important;
    text-align: left !important;
}

.seperate {
    padding: 0px 15px;
}

#demo1 .carousel-indicators {
    display: none;
}

.cst_banner {
    background: url(../img/slider1.jpg);
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center;
    -webkit-background-size: cover;
}

.news {
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}

.news:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: #c71b28;
    height: 5px;
    width: 50px;
    top: 20px;
}

.blog {
    padding: 30px 0px 10px 0px;
}

.news-title {
    color: #656565;
    background: #fff;
    padding: 20px 25px 5px 25px;
}

.news-title h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 8px;
}

.news-title h4 {
    font-size: 14px;
    font-weight: 500;
}

.cstm-vs span {
    color: #ffff;
    font-size: 18px;
    font-weight: 800;
    padding: 20px 0px;
}

.cstm-vs .timing {
    color: #fff;
    background: #41b314;
    padding: 23px 5px 20px 6px;
    margin-left: 10px;
}

.cstm-vs a:hover {
    color: #fff;
}

.cstm-vs {
    position: relative;
}

.cstm-vs::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 70px;
    background: #c71b28;
    top: 0px;
    left: 50px;
}

.cstm-vs img:nth-child(2) {
    padding: 0px 0px 0px 6px;
}

.cstm-vs img {
    height: 56px;
    width: auto;
    margin-top: 5px;
}

.blog a {
    text-decoration: none !important;
}

.video li {
    list-style-type: none;
    margin: 8px 0;
    height: 70px;
    background: #222222;
    color: #fff;
}



.video .col-md-6 ul {
    padding: 0;
}

.video .col-md-3, .video .col-md-4 {
    padding-left: 15px;
    padding-right: 5px;
}

.sick {
    padding: 13px 0px 0px 10px !important;
    position: relative;
}

.sick p {
    line-height: 5px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}

.sick a {
    color: #d9d5d8;
}

.sick a:hover {
    color: #fff;
}

.sick p:nth-child(3) {
    color: #aba9b0;
    font-size: 13px;
    padding-left: 68px;
}

.sick p:nth-child(3):before {
    content: "";
    display: inline-block;
    background: #62686e;
    height: 5px;
    width: 5px;
    position: absolute;
    left: 68px;
    top: 45px;
}

.sick img {
    padding-right: 12px;
    float: left;
}

.cstm_video_col iframe {
    border: 0;
    width: 100%;
!important;
}

.line {
    border: 2px solid #c71b28;
    margin: 20px 0px;
    border-width: 2px 0 0 0;
}

.seperate .col-md-6 {
    padding: 0px 0px 40px 0px;
}

.cstm-list a {
    display: flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}


/*------------ footer -------------*/
/*.footer-main_bg{
	background:url("../img/bottom-right-bg.png");
	background-size: 100%;
	background-position: -450px;
	background-repeat:no-repeat;
	padding-top: 300px;
}*/
#footer{
	padding: 60px 0 0px 0;
    background: #1a1a1d;
}
#footer .element {
    margin: 0 auto;
    display: table;
}
.footer-icon .txt_stuff p{
	margin:0;
}
.social_icon_copy .footer-icon .txt_stuff p:first-child{
	font-size:12px;
	font-weight:500;
}
.social_icon_copy .footer-icon .txt_stuff p+p{
	font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 14px !important;
}
.footer-icon i{
	font-size: 37px;
    width: 25px;
    color: #bc0000;
    margin-right: 5px;
	
}
.footer-icon{
	margin:0 10px;
}
.footer-icon a {
    display: flex;
    text-decoration: none !important;
    width: 100%;
    color: #fefefe;
}
	
/*------------copyright-----------------*/
.social_icon_copy{
	display:flex;
	justify-content:space-between;
}

.footer_menu{
	padding: 10px 0 0px 0px;
}
/*--------------------------------------*/
	
#footer .praesent {
    color: white;
    padding: 0px 15px 0px 0px;
    line-height: 24px;
}

#footer h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.footer-icon a {
    padding: 10px 0px 0px 16px;
}

.footer-icon:nth-child(1) a:hover {
    color: #46c9ff;
}

.footer-icon:nth-child(2) a:hover {
    color: #124d9e;
}

.footer-icon:nth-child(3) a:hover {
    color: #830cd6;
}

.footer-icon:nth-child(4) a:hover {
    color: #f31e2f;
}

.footer-icon:nth-child(5) a:hover {
    color: #7289da;
}
#footer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}

#footer .about {
    padding: 30px 10px 0px 10px;
}

.copy-right {
	padding: 20px 0px !important;
    background: #1a1a1d;
    margin-bottom: 0px;
    width: 100%;
    margin: 0 auto;
	border-top: 1px solid #2d2d2d;
}

.copy {
    color: #5f5f5f !important;
	margin:0;
   }
 /*------------------NEWS--------------------*/
 .lt_news, .latest_result {
    background: #403351;
    border-radius: 5px;
    border-left: 8px solid #f00;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #4b3b60;
	display: flex;
    padding: 23px 15px;
    justify-content: space-between;
}
.lt_news h2, .latest_result h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
	line-height: 26px;
    margin: 0;
}
.lt_news a, .latest_result a {
    font-size: 10px;
    background: #8c8297;
    height: 28px;
    width: 130px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
  
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
    border: 1px solid #8c8297;
}
.lt_news a:hover, .latest_result a:hover {
    background: transparent;
}
.social_icon .fb,.social_icon .twitter,.social_icon .twitch,.social_icon .youtube,.social_icon .google_p,.social_icon .insta{
    border-radius: 5px;
    color: #fff;
    text-align: center;
    height: 75px;
    width:100%;
	margin:0 auto;

}
.social_icon .fb{
    background: #4259cf;
}
.social_icon .twitter{
    background: #239aff;
}
.social_icon .twitch{
    background: #6a3bc0;
}
.social_icon i{
    line-height: 50px;
    font-size: 20px;
}
.social_icon .youtube{
    background:#f92552;
}
.social_icon .google_p{
    background:#ffb400;
}
.social_icon .insta{
    background: #f53f88;
}
.social_icon a{
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    display: block;
    font-weight: 700;
    font-style: italic;
	padding-top: 10px;
}
.social_icon .row{
	margin: 0 -5px;
}

/*------------- post_stuff ---------------*/


.post_stuff .post{
    background: #2c3531;
    margin: 15px 0;
    border-radius: 5px;
	border: 1px solid #116466;
}
.post .count{
    background: #3e4642;
	height:60px;
}
.prfl{
	background: url(../img/marshian.png);
    float: left;
    margin: 16px 15px;
    border-radius: 50px;
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
.txt_stuff{
    padding:0 15px;
}
.post .txt_stuff{
	padding-top:20px;
	}	
.txt_stuff .catg a{
    font-size:10px;
    color: #fff;
    font-weight: 700;
	text-decoration:none;
}
.txt_stuff h2{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
.post .img_block{
    min-height: 300px;
}
.post .img_block img{
	max-width:749px;
	border-radius:5px;
}
.catg a{
    padding: 8px;
    width: 70px;
    height: 25px;
    line-height: 12px;
}
.count{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.count_value i,.count_value a{
   font-size: 10px;
   text-align: right;
   color:#8c8297;
   
}
.count_value a{
    margin-right: 10px;
    margin-left: 5px;
	text-decoration:none;
}
.count_value{
    padding: 0 15px;
    text-align: right;
    text-decoration: none;
    width: 70%;
    float: right;
    margin: 18px 0;
}

/*--------------result--------------------*/

.main_block_result{
    margin-bottom: 15px;
}
/*------"main_block_result------*/
.main_block_result .cmn_cls{
    background: #392d49;
 border-radius: 0;
border-bottom: 1px solid #4b3b60;

}
.title_rw_style{
    height: 40px;
    border-left: 8px solid #ffb400;
    padding: 0 15px;
}
.title_rw_style h2{
    font-size: 12px;
    line-height: 40px;
    color: #fff;
}
.sub_ttl_rw{
    display: flex;
    justify-content: space-between;
    color: #7a7283;
    padding: 0 24px;
    font-size: 10px;
    height: 35px;
}
.sub_ttl_rw p{
    line-height: 35px;
    margin: 0;
}
.country_rw {
    display:flex;
    justify-content: space-around;
    height: 56px;
    padding: 15px
}
.country_rw .country_a h3,.country_rw .country_b h3{
    font-size: 12px;
    color: #fff;
}
.country_rw .country_a h4,.country_rw .country_b h4{
    font-size: 9px;
    color: #a59cae;
    margin: 0;
    line-height: 0;
}
.country_a,.country_b{
    display: flex;
}
.count_vs h3{
    font-size: 10px;
    color: #fff;
}
.main_block_result{
    margin-bottom: 15px;
}

/*-----live video ------*/

.live_video{
    background: #392d49;
	padding-bottom:20px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.featured_stram{
    position: relative;
    padding: 15px;
    min-height: 111px;
    border-bottom: 1px solid #4b3b60;
}

.featured_stram img{
    position: absolute;
    top: -6px;
}
.featured_stram .vdo_txt h3,.stram_cls .vdo_txt h3{
    font-size: 11px;
    color: #a59cae;
}
.featured_stram .vdo_txt h2,.stram_cls .vdo_txt h2{
   font-size: 14px;
    color: #fff;
}
.featured_stram .vdo_txt p,.stram_cls .vdo_txt p{
    font-size: 11px;
    color: #8c8297;
    margin: 0;
}
.vdo_txt p+p{
    font-size: 12px !important;
    color: #fff !important;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
}
.vdo_txt p+p{
    position:relative;
    padding-left: 15px;
}
.vdo_txt p+p:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #ff004e;
    top: 8px;
    position: absolute;
    border-radius: 50px;
    left: 0;

    }
.vdo_txt{
    width: 65%;
    float: right;

}
.live_video .video iframe{
    margin: 20px auto 0;
    display: table;
}
.stram_cls{
    background: #392d49;
    border-radius: 5px;
    margin-bottom: 15px;
    border:0;
    padding: 0 20px;
}
.stram_txt{
   padding: 15px 0px 0 5px;
}
.sponser_sesion{
    background: #392d49;
}
.sponser {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}
.sponser_logo img{
	max-width: 60%;
    margin: 0 auto;
    display: table;
}
.latest_news{
	padding-bottom:60px;
}
.last-news,.last-news,.match-tciket,.calander{
	margin-bottom:15px;
}
.img_block iframe,.post .img_block img,.last-news img,.calander img,.match-tciket img{
	width:100%;
}
.inner_logo img{
	display:none;
}
.carousel-indicators li{
	width:15px !important;
    height:15px !important;
	border-radius:50px !important;

}
.txt_stuff a{
	color: #fff;
}
.social_icon .col-lg-4 > div {
    padding: 12px 5px;
}
.cstm_nav{
	background: rgba(44, 53, 49, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.social_icon .add-icon{
	width: 18px;
    height: 18px;
    right: 12px;
    top: 8px;
    margin-top: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    position: absolute;
}
.social_icon .add-icon::before, .social_icon .add-icon::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.social_icon .add-icon::before {
    width: 8px;
    height: 2px;
}
.social_icon .add-icon::after {
    width: 2px;
    height: 8px;
}
.social_icon .col-lg-4 div:hover .add-icon::after, .social_icon .col-lg-4 div:hover .add-icon::before, .chse_btn:hover::after, .chse_btn:hover::before  {
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
}
.chse_btn:before {
    width: 17px;
    height: 3px;
}
.chse_btn:after {
    width: 3px;
    height: 17px;
}
.chse_btn::after, .chse_btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.chse_btn {
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}
.plus-btn-yellow{
	background-color: #ffb400;
}
.plus-btn-red{
	background-color: #f92552;
}
/*------------------------------------------*/

@media (min-width: 0px) and (max-width: 767px) {
	.nav_rw {
    padding-top: 20px;
	}
	.cstm_cls_nav li{
		margin-right:0;
	}
	.social_icon_copy{
		display:block;
	}
 iframe{
	width:100%;
	
}
.post .row{
	width:100%;
	margin:0 auto;
}
.lt_news a, .latest_result a{    
	width: 110px;
	font-size: 8px;
	
}
.lt_news h2, .latest_result h2{
	font-size: 14px;
}
.inner_logo img{
	max-width:80%;
}
.inner_logo{
	padding: 180px 0 60px 0;
}
.lenonvo_announce h1{
	font-size: 26px;
}
.side_bar{
	padding:0 15px !important;
}
.vdo_txt{
	width: 60%;
}
.stram_txt{
	padding: 14px 0px 0 5px;
}
.tranding_news .nav-tabs .nav-link{
	font-size: 10px;
}
.txt_tranding_vdo h2{
	line-height: 17px;
	font-size: 12px;
}
/*.social_icon .fb, .social_icon .twitter, .social_icon .twitch, .social_icon .youtube, .social_icon .google_p, .social_icon .insta{
	width: 105px;
}*/
.nav_rw .navbar{
	position: absolute;
	z-index: 999;
	right: 0px;
}
.nav_rw .navbar > button{
	margin-left: auto;
    margin-top: 6px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.nav_rw .navbar-collapse{
	margin-top: 30px;
	background: rgb(19, 21, 34);
   
}
.cstm_cls_nav a:hover, .cstm_nav .navbar-right a:hover{
	background:#fff;
}
.nav_rw ul{
	padding:15px 0;

}
.cstm_cls_nav li----:hover{
	background: #fff !important;
}
.cstm_cls_nav li.nav-item:hover a{
	color: #131522;
}
.cstm_cls_nav li a.nav-link{
    padding: 8px 15px;
}
.cstm_cls_nav+ul{
	padding: 8px 15px;
}
.featured_stram{
	padding: 7px 15px;
}
.footer-icon {
    margin: 10px 10px;
}
.country_rw{
	height:auto;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	
	iframe{
	width:100%;
	
}
    .social_icon_copy{
		display:block;
}
	
.post .row{
	width:100%;
	margin:0 auto;
}
.lt_news a, .latest_result a{    
	width: 110px;
	font-size: 8px;
	
}
.lt_news h2, .latest_result h2{
	font-size: 14px;
}
.inner_logo img{
	max-width:80%;
}
.inner_logo{
	padding: 180px 0 60px 0;
}
.lenonvo_announce h1{
	font-size: 26px;
}
.side_bar{
	padding:0 15px !important;
}
.vdo_txt{
	width: 80%;
}
.stram_txt{
	padding: 26px 0px 0 5px;
}
.tranding_news .nav-tabs .nav-link{
	font-size: 10px;
}
.txt_tranding_vdo h2{
	line-height: 17px;
	font-size: 12px;
}
.social_icon .fb, .social_icon .twitter, .social_icon .twitch, .social_icon .youtube, .social_icon .google_p, .social_icon .insta{
	width: 220px;;
}
.nav_rw .navbar{
	position: absolute;
	z-index: 999;
	right:0px;
}
.nav_rw .navbar > button{
	margin-left: auto;
    margin-top: 15px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.nav_rw .navbar-collapse{
	margin-top: 30px;
	background: rgb(19, 21, 34);
}
.cstm_cls_nav{
	padding:15px;
	flex-direction: row;
}
#footer .collapse {
	display: flex;
}
.footer-icon {
    margin: 10px 10px;
}
}


@media (min-width: 992px) and (max-width: 1155px) {
	iframe{
	width:100%;
	}
.nav_rw .navbar{
	position: absolute;
	z-index: 999;
	right: 0px;
}
.nav_rw .navbar > button{
	margin-left: auto;
    margin-top: 15px;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.nav_rw .navbar-collapse{
	margin-top: 30px;
	background: rgb(19, 21, 34);
    border-radius: 5px;
}
.cstm_cls_nav a:hover, .cstm_nav .navbar-right a:hover{
	background:#fff;
}
.nav_rw ul{
	padding:15px;
}
.country_rw{
	padding:15px;
	height: auto;
}
.featured_stram{
	padding: 7px 15px;
}
.stram_cls{
	display:flex;
}
.social_icon_copy .footer-icon {
    margin: 0px;
}
#footer .collapse {
	display: flex;
}
#footer .new{
	flex-direction: row;
}
}